body{
	color:black;
		background-color: #DEFEFE;
}


#wrapper{
	width:750px;
	margin:0 auto;
	background-color:#DEFEFE;
}

#header{
	background-color:white;
	height:60px;
	text-align:center;
	padding-top: 10px;
  padding-left:60px;
	font-family: serif;
	font-size: 18px;

}
.light{height: 60px;
	width: 50px;
  float: left;
	padding-bottom:10px;
  padding-top: 10px;
	position: relative;
  left: 100px;
}


#leftbody{
	float:left;
	width:190px;
	height:200px;
	margin: 200px 0px 0px 0px;
	background-color:white;
	padding-top:20px;
	border: black 1px solid;
	text-align:center;
	font-weight: bold;
	font-family: sans-serif;
  color:Black;
  text-decoration: underline;
	font-size: 15px;
	position: absolute;
}

.video{
	height: 60px;
		width: 50px;
}

#rightbody{
	float:right;
	width:150px;
	height:50px;
	background-color:#D9E9E9;;
  margin: 200px 0px 0px 1px;
	border: black 1px solid;
	text-align:center;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
	text-decoration:underline;
}
#rbody{
	float:right;
  left: 152px;
	width:150px;
	height:50px;
	background-color:#D9E9E9;;
  margin: 275px 0px 0px 1px;
	border: black 1px solid;
	text-align:center;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
	text-decoration:underline;
	position: relative;
}

#right{
	float:right;
	left: 304px;
	width:150px;
	height:50px;
	background-color:#D9E9E9;;
  margin: 350px 0px 0px 1px;
	border: black 1px solid;
	text-align:center;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
	text-decoration:underline;
	position: relative;
}


#content{
	width:350px;
	height: 500px;
  margin: 0px 0px 0px 200px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: sans-serif;
	color:yellow;
	text-decoration:underline;
	padding-top: 15px;
	position: absolute;

}
