body{
	color:black;
		background-color: #DEFEFE;
}


#wrapper{
	width:750px;
	margin:0 auto;
	background-color:#DEFEFE;
}

#header{
	background-color:white;
	height:70px;
	color: #000EC8;
	text-align:center;
	padding-top: 10px;
  padding-left:60px;
	font-family: serif;
	font-size: 20px;
	font-style: italic;

}
.light{height: 60px;
	width: 50px;
  float: left;
	padding-bottom:10px;
  padding-top: 10px;
	position: relative;
  left: 100px;
}


#leftbody{
	float:left;
	width:190px;
	height:150px;
	margin: 225px 0px 0px 0px;
	background-color:#FAF9DF;
	padding-top:20px;
	text-align:center;
	font-weight: bold;
	font-family: sans-serif;
  color:Black;
  text-decoration: underline;
	font-size: 15px;
	position: absolute;
}

.video{
	height:100px;
	width: 180px;
	float: left;
	padding-top: 80px;
	position: relative;
}

.motor{
	height:100px;
	width: 180px;
	float: left;
	padding-top: 450px;
	position: absolute;
  left:260px;
}

.sign{
	height:100px;
	width: 160px;
	float: right;
	right: 250px;
	padding-top:70px;
  position: absolute;}


#rightbody{
	float:right;
	width:150px;
	height:50px;
	background-color:#FAF9DF;
  margin: 200px 0px 0px 1px;
	border: black 1px solid;
	text-align:center;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
	text-decoration:underline;
}
#rbody{
	float:right;
  left: 154px;
	width:150px;
	height:50px;
	background-color:#FAF9DF;
  margin: 275px 0px 0px 1px;
	border: black 1px solid;
	text-align:center;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
	text-decoration:underline;
	position: relative;
}

#right{
	float:right;
	left: 307px;
	width:150px;
	height:50px;
	background-color:#FAF9DF;
  margin: 350px 0px 0px 1px;
	border: black 1px solid;
	text-align:center;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
	text-decoration:underline;
	position: relative;
}


#bodyr{
	float:right;
	left: 460px;
	width:150px;
	height:50px;
	background-color:#FAF9DF;
  margin: 250px 0px 0px 1px;
	border: black 1px solid;
	text-align:center;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
	text-decoration:underline;
	position: relative;
}

#content{
	width:350px;
	height: 500px;
  margin: 0px 0px 0px 200px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: sans-serif;
	color:#EBE607;
	padding-top: 15px;
	position: absolute;

}
