body{
	background-color: #DEFEFE;
}


#wrapper{
	width:750px;
	margin:0 auto;
	background-color:white;
}

#header{
	height:50px;
	text-align:center;
	position: relative;
	bottom:10px;
	padding:5px;
}

#leftbody{
	float:left;
	width:750px;
	height: 500px;
	background-color:green;
	padding-top:10px;
}

#bottom{
	height:50px;
  background-color:blue;
	padding-top:10px;
	clear:both;}
